body {
  background-color: black;
}
.gallery {
  position: relative;
  margin: 0 .5em;
  padding: 0 auto;
}
.frame {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 0 auto;
  width: 98%vw;
  height: 100%vh;
}
.painting {
  position: relative;
  margin: .5em .5em;
  width: auto;
  height: auto;
  max-width: 15em;
  max-height: 20em;
}